
# Server logs
logs

# PyInstaller
dist/
build/

# Python cache
__pycache__/
*/__pycache__/
*/*/__pycache__/

# Pytest cache
.pytest_cache/

# Poetry
poetry.lock

# Virtual environment
venv/

# IDE dirs
.idea/
.vscode/

# Doxyfiles
docs/Doxyfile*

themes.json
