
# Python cache
__pycache__/
*/__pycache__/
*/*/__pycache__/

# Pytest cache
.pytest_cache/

# Packaging dirs
*.egg-info/

# Virtual environment
venv/

# IDE dirs
.idea/
.vscode/

# Doxyfiles
docs/Doxyfile-game
docs/Doxyfile-tests
